<div class="container team">

  <div class="row">
      <div class="col-lg-4 text-center">
        <img src="<%= image_path('left_hand_hatem.jpeg') %>" 
                alt="avatar" class="rounded-circle img-fluid" style="width: 200px; height: 200px;">

        <h2>Ma main gauche</h2>
        <h4>Secretaire general</h4>
        <p>Parfois maladroite mais toujours utile. Ma main gauche intervient comme support principal de ma tête et de ma main droite.</p>
        <p><a class="btn btn-secondary" href="#">No detail yet »</a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4 text-center">
        <img src="<%= asset_path('tete_hatem.jpeg') %>" 
                alt="avatar" class="rounded-circle img-fluid" style="width: 200px; height: 200px;">

        <h2>Ma tete moche !</h2>
        <h4>CEO</h4>
        <p>Présente depuis la naissance du Gossip project. Concentré sur la resolution des problemes et l'innovation. Ma tête fait quand meme pas mal de bêtises...</p>
        <p><a class="btn btn-secondary" href="#">No detail yet »</a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4 text-center">
        <img src="<%= asset_path('right_hand_hatem.jpeg') %>" 
                alt="avatar" class="rounded-circle img-fluid" style="width: 200px; height: 200px;">

        <h2>Ma main droite</h2>
        <h4>CTO</h4>
        <p>Ma meilleure amie, celle qui execute, celle qui maitrise, celle sur qui je me repose ! On évitera tout blague vaseuse sur comment elle a atteint ce poste...</p>
        <p><a class="btn btn-secondary" href="#">No detail yet»</a></p>
      </div><!-- /.col-lg-4 -->
  </div>

  <div class="row text-center pt-5">
      <div class="col-lg-12 text-center">
        <img src="<%= asset_path('THP_crew') %>" 
                alt="avatar" class="rounded-circle img-fluid" style="width: 200px; height: 200px;">

        <h2>THP Crew</h2>
        <h4>Tech Support & Happiness Manager</h4>
        <p>L'equipe sans qui rien ne serait possible.</p>
        <p><a class="btn btn-secondary" href="#">No detail yet »</a></p>
      </div><!-- /.col-lg-4 -->
      
      
  </div>

</div>