
<div class="container px-5 mb-3">
  <div class="row text-center py-4">
  <h2>Une question ? Une remarque ? Une envie de parler ?</h2>
  <h2>Envoie nous un message qu'on ne lira jamais</h2>
  </div>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ton email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Un peu de tune via un bon marketing ciblé, merci bien ;)</div>
    </div>
    <div class="mb-3">
      <label for="floatingTextarea2">Ton message</label>
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check moi pour aucune raison</label>
    </div>
    <button type="submit" class="btn btn-primary">Soumission</button>
  </form>
</div>


<div class="container col-3 text-center">
  <ul class="list-group list-group-flush">
  <li class="list-group-item disabled" aria-disabled="true">The Gossip Project</li>
  <li class="list-group-item disabled" aria-disabled="true">thegossipproject@email.com</li>
  <li class="list-group-item disabled" aria-disabled="true">+33 (0) 1 00 00 00 00</li>
 
</ul>

</div>